
<html>

<head>
    <meta charset="utf-8" />
    <title>World Population</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <style> .class_1 
      {
        color: Blue;
        font-weight: bold;
      }
    </style>
</head>

  <body>
    <center>
      <h1>Fetch World Population</h1>
      <form name="fetch-world-population" method="get" action="http://0.0.0.0:8003/year">
        <input type="text" placeholder="Enter Year" name="year">
        <br><br>
        <input type="submit" name="Submit">
      </form>
    </center>
    {% if year %}
    <!--<center style="color: Blue">-->
      <center class="class_1">
        The population (in Million) for the year {{year}} was : {{population}}
      </center>
    {% endif %}
  </body> 



<body>
  <center>
    <h3>{{ title }}</h3>
  </center>
  <center>
    <canvas id="chart" width="1100" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: false,
       scaleShowGridLines : false,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
  </center>
  {% if year %}
    <center class="class_1">
      The Population has increased by {{perc_inc}}% as compared to the same of 1960 
    </center>
  {% endif %}
</body>
</html>